<h2 style="color: black; font-style: bold; ">Tasks to Tackle!</h2>>

<table [border]="1" style="padding: 5%; width: 100%; min-height: 300px;">
  <h3 style="color: blueviolet; margin: 10"> Start Work ~</h3>

<br>
<br>
<table *ngFor="let task of taskList" [border]="2" style="padding: 8%; width: 50%;">

  <tr>
    <td>
      <p  style="margin: 10; font-weight: normal;">{{task.details}}</p>
    </td>
    <br>
    <td>
      <p style="font-style: italic; font-weight : bold">{{task.priority}}</p>
    </td>
    <br>
    <td>
      <p style="text-align: right;">{{task.dueDate}}</p>
    </td>
  </tr>
</table>

</table>



